<h2>Add New Milestone</h2>

<form class="form-horizontal" ng-submit="addMilestone()">
  <div class="control-group">
    <label class="control-label" for="inputName">Title:</label>
    <div class="controls">
      <input type="text" id="inputName" ng-model="title" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputDescription">Description:</label>
    <div class="controls">
      <input type="text" id="inputDescription" ng-model="description" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>
</font>