<div ng-show="workItem.comments.length != 0">
  <h5>Comments</h5>
  <div class="comments" ng-repeat="comment in workItem.comments">
    <table class="comment table table-condensed table-bordered info-small">
      <tr>
        <td>
            {{comment.title}} <hr />
            {{comment.text}} <hr />
            Posted on: {{comment.datePosted | date:'yy/MM/dd'}} <br />
            by: <a href="#/users/{{comment.postedBy._id}}">{{comment.postedBy.firstName}} {{comment.postedBy.lastName}}</a>
        </td>
      </tr>
    </table>
  </div>
</div>

<form class="info-small form-vertical" ng-submit="addComment()">
  <fieldset>
    <h5>Add Comment</h5>
    <hr />
    <div class="control-group">
      <label class="control-label" for="inputNewCommentTitle">Title:</label>
      <div class="controls">
        <input type="text" id="inputNewCommentTitle" ng-model="newComment.title" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputNewCommentText">Comment:</label>
      <div class="controls">
        <textarea id="inputNewCommentText" ng-model="newComment.text" />
      </div>
    </div>
      <button type="submit" class="btn">Add Comment</button>
  </fieldset>
</form>