<div ng-include src="'partials/project-nav.html'"></div>

<form class="form-horizontal" ng-submit="updateWorkItem()">
  <fieldset>
    <legend>{{type}} Work Item</legend>

    <div class="span5">
      <div class="control-group">
        <label class="control-label span2" for="inputTitle">Title:</label>
        <div class="controls">
          <input type="text" id="inputTitle" required maxlength="50" ng-maxlength="50" ng-model="workItem.title" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label span2" for="inputDescription">Description:</label>
        <div class="controls">
          <textarea id="inputDescription" ng-model="workItem.description" cols="50" rows="5" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label span2" for="inputWorkPackages">Work Packages:</label>
        <div class="nullable">
          <select select2 data-placeholder="-- Add a Work Package --" id="{{workPackages + '-menu'}}" ng-change="workPackagesAdd(workPackage)"
            ng-model="workPackagesAddChosen">
            <option></option>
            <option value="{{workPackage._id}}" ng-repeat="workPackage in workPackagesList">
              {{workPackage.title}}
            </option>
          </select>
        </div>
        <div class="info-small span3 pull-right workPackage" id="{{workPackage.id}}" ng-repeat="workPackage in workItem.workPackages">
          <a href="#/projects/{{project.id}}/work-packages/{{workPackage.id}}">{{workPackage.title}}
          </a>
          <a ng-click="workPackagesRemove(workPackage)"><i class="icon-remove-circle"></i></a>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label span2" for="inputAssignedUsers">Assigned Users:</label>
        <div class="nullable">
          <select select2 data-placeholder="-- Assign a User --" id="{{assignedUsers + '-menu'}}" ng-change="assignedUsersAdd(assigned)"
            ng-model="assignedUsersAddChosen">
            <option></option>
            <option value="{{assigned._id}}" ng-repeat="assigned in usersList">
              {{assigned.firstName + ' ' + assigned.lastName}}
            </option>
          </select>
        </div>
        <div class="info-small span3 pull-right assigned" id="{{assigned.id}}" ng-repeat="assigned in workItem.assignedUsers">
          <a href="#/users/{{assigned._id}}">{{assigned.username}}: {{assigned.firstName}} {{assigned.lastName}}
          </a>
          <a ng-click="assignedUsersRemove(assigned)"><i class="icon-remove-circle"></i></a>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label span2" for="inputDependencies">Dependencies:</label>
        <div class="nullable">
          <select select2 id="{{dependencies + '-menu'}}" data-placeholder="-- Add a Dependency --" ng-change="dependenciesAdd(dependency)"
            ng-model="dependenciesAddChosen">
            <option></option>
            <option value="{{dependency._id}}" ng-repeat="dependency in dependenciesList">
              {{dependency.title}}
            </option>
          </select>
        </div>
        <div class="info-small span3 pull-right dependency" id="{{dependency.id}}" ng-repeat="dependency in workItem.dependencies">
          <a href="#/projects/{{project.id}}/work-items/{{dependency.id}}">{{dependency.title}}
          </a>
          <a ng-click="dependenciesRemove(dependency)"><i class="icon-remove-circle"></i></a>
        </div>
      </div>
    </div>

    <div class="span5">
      <div class="control-group">
        <label class="control-label span2" for="inputTimeEstimate">Time Estimate:</label>
        <div class="controls">
          <input type="text" id="inputTimeEstimate" ng-model="workItem.timeEstimate" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label span2" for="inputTimeSpent">Time Spent:</label>
        <div class="controls">
          <input type="text" id="inputTimeSpent" ng-model="workItem.timeSpent" />
        </div>
      </div>
      <div class="control-group">
        <label class="control-label span2" for="inputCompletionPercentage">Completion:</label>
        <div class="controls">
          <input type="range" min="0" max="100" id="inputCompletionPercentage" ng-model="workItem.ownCompletionPercentage" />
          {{workItem.ownCompletionPercentage}}
        </div>
      </div>
      <div class="control-group">
        <label class="control-label span2" for="inputStatus">Status:</label>
        <div class="controls">
          <select id="inputStatus" ng-model="workItem.status">
            <option value="open">Open</option>
            <option value="late">Late</option>
            <option value="closed">Closed</option>
          </select>
        </div>
      </div>
    </div>

  </fieldset>

  <div style="float: none;" class="form-actions">
    <button type="submit" class="btn">{{submitType}}</button>
  </div>
</form>