<div ng-include src="'partials/project-nav.html'"></div>

<div class="row">
  <div class="span11">
    <a class="btn" href="#/projects/{{project.id}}/add-milestone">Add Milestone</a>
  </div>
</div>

<br />

<div class="row">
  <div class="well span11 milestone" id="{{milestone.id}}" ng-repeat="milestone in milestones">
    <h4><a href="#/projects/{{project.id}}/milestones/{{milestone.id}}">{{milestone.title}}</a></h4>
    <p>{{milestone.description}}</p>
    <p><span class="label {{milestone.status.labelType}}">{{milestone.status.text}}</span></p>
    <h5>Overall Progress:</h5> <div class="progress"><div class="bar" style="width: {{milestone.completionPercentage}}%;"></div></div>

    <div class="span4 workPackages">
      <h5>Work Packages</h5>
      <div class="workPackage" id="{{container.wkpackage.id}}" ng-repeat="container in milestone.wpDependencies">
        <a href="#/projects/{{project.id}}/work-packages/{{container.wkpackage.id}}">{{container.wkpackage.title}}
          <span ng-show="isDefined(container.percentage)">{{container.wkpackage.completionPercentage}}/{{container.percentage}}%</label>
        </a>
      </div>
    </div>

    <div class="span4 dependencies">
      <h5>Dependencies</h5>
      <div class="dependencies" id="{{dependency.id}}" ng-repeat="dependency in milestone.msDependencies">
        <a href="#/projects/{{project.id}}/milestones/{{dependency.id}}">{{dependency.title}}</a>
      </div>
    </div>

  </div>
</div>