<div class="navbar navbar-inverse navbar-fixed-top" ng-controller="PJS.Controllers.nav">
  <div class="navbar-inner">
    <div class="container-fluid">
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <a class="brand" href="#">Project.js</a>
      <div class="pull-right" ng-switch on="loggedIn">
        <span ng-switch-when="true">
          <ul class="nav pull-right">
            <li><a href="#/profile/{{user.name}}">Logged in as {{user.name}}</a></li>
            <li class="divider-vertical"></li>
            <li><a href="#/users/logout">Log Out</a></li>
          </ul>
        </span>
        <span ng-switch-default>
          <ul class="nav pull-right">
            <li><a href="#/users/register">Sign Up</a></li>
            <li class="divider-vertical"></li>
            <li class="dropdown">
              <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <strong class="caret"></strong></a>
              <div class="dropdown-menu" style="padding: 15px; padding-bottom: 0px;">
                <!--<div ng-include src="'partials/login.html'"></div>-->
              </div>
            </li>
          </ul>
        </span>
      </div>
      <ul class="nav">
        <li>
          <a href="#/projects">Projects</a>
        </li>
        <li>
          <span class="nullable">
            <select ng-change="changeProject()" ng-model="projectChosen" ng-options="project.title for project in projectsList">
              <option value="">Choose a Project</option>
            </select>
          </span>
        </li>
      </ul>
    </div>
  </div>
</div>  