<div ng-include src="'partials/project-nav.html'"></div>

<div class="row">
  <div class="span11">
    <a class="btn" ng-click="addUser()">Add User</a>
    <select ng-model="addUserChosen" ng-options="(user.username + ': ' + user.firstName + ' ' + user.lastName) for user in usersList">
      <option value="">Choose a User</option>
    </select>
    <select ng-model="addRoleChosen" ng-options="role.title for role in rolesList">
      <option value="">Choose a Role</option>
    </select>
  </div>
</div>

<br />

<div class="row">
  <div class="well span11 users">
    <table class="span11">
      <tr class="user" id="{{container.user.id}}" ng-repeat="container in users">
        <td class="span3">
          <a href="#/users/{{container.user.id}}">{{container.user.username}}: </a>{{container.user.firstName}} {{container.user.lastName}}
        </td>

        <td class="span3">
          <select ng-change="updateRole(container)" ng-model="container.role" ng-options="role.title for role in rolesList">
          </select>
        </td>

        <td class="span5">
          <a ng-click="removeUser(container)"><i class="icon-remove-circle"></i></a>
        </td>
      </tr>
    </table>
  </div>
</div>