<div class="table">
  <h3>Your Projects</h3>
</div>

<div class="table">
  <a class="btn" href="#/add-project">Add Project</a>
  <span ng-show="projects.length != 0">
    <form class="form-inline pull-right">
      Search: <input class="input-medium" ng-model="filter.title"></input>
    </form>

    <span ng-init="predicate = 'dueDate'; reverse=!reverse" class="pull-right sorting">
      <span class="sorting-title">Sort:</span> 
      <button class="btn" href="" ng-click="predicate = 'title'; reverse=!reverse">Title</button>
      <button class="btn" href="" ng-click="predicate = 'completionPercentage'; reverse=!reverse">Completed</button>
      <button class="btn" href="" ng-click="predicate = 'dueDate'; reverse=!reverse">Due Date</button>
    </span>
  </span>
</div>

<div class="table projects">
  <div ng-show="projects.length != 0" class="well project" id="{{project.id}}" ng-repeat="project in projects | filter:filter | orderBy:predicate:reverse">
    <h4 class="title"><a href="#/projects/{{project.id}}">{{project.title}}</a></h4>
    <p>{{project.description}}</p>
    <p ng-show="project.projectUsers.length != 0"><b>Project Manager:</b>
      <span ng-repeat="user in project.usersByRole['project manager']">
        <a class="btn btn-mini" href="#/users/{{user._id}}"> {{user.firstName}} {{user.lastName}} </a>
      </span>
    </p>
    <p><span class="label {{project.status.labelType}}">{{project.status.text}}</span></p>
    <b>Overall Progress:</b> <div class="progress"><div class="bar" style="width: {{project.progress}}%;"></div></div>
  </div>

  <div ng-show="projects.length == 0" class="empty-message">
    <hr />
    You have not yet added any projects.
  </div>
</div>