<div class="project-nav" ng-controller="PJS.Controllers.project">
  <h2>{{project.name}}</h2>

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav pull-left">
        <li><a href="#/projects/{{project.name}}">Dashboard</a></li>
        <li><a href="#/projects/{{project.name}}/work-breakdown">Work Breakdown</a></li>
        <li><a href="#/projects/{{project.name}}/work-packages">Work Packages</a></li>
        <li><a href="#/projects/{{project.name}}/work-items">Work Items</a></li>
        <li><a href="#/projects/{{project.name}}/milestones">Milestones</a></li>
      </ul>
    </div>
  </div>
</div>