<div class="project-nav" ng-controller="PJS.Controllers.Project.get">
  <h3 class="title">{{project.title}}</h3>
  <p>{{project.description}}</p>

  <div class="navbar">
    <div class="navbar-inner">
      <ul class="nav pull-left">
        <li><a href="#/projects/{{project.id}}">Dashboard</a></li>
        <li><a href="#/projects/{{project.id}}/users">Team</a></li>
        <li><a href="#/projects/{{project.id}}/work-breakdown">Work Breakdown</a></li>
        <li><a href="#/projects/{{project.id}}/work-packages">Work Packages</a></li>
        <li><a href="#/projects/{{project.id}}/work-items">Work Items</a></li>
        <li><a href="#/projects/{{project.id}}/milestones">Milestones</a></li>
      </ul>
    </div>
  </div>
  {{setSelectedOptionProject(project)}} <!-- a bit of a hack, ng-model isn't loading the default -->
</div>