<form class="form-horizontal borderless" ng-controller="PJS.Controllers.User.add" ng-submit="register()">
  <div class="control-group">
    <label class="control-label" for="inputEmail">E-mail:</label>
    <div class="controls">
      <input type="email" required id="inputEmail" ng-model="email" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputFirstName">First Name:</label>
    <div class="controls">
      <input type="text" required id="inputFirstName" ng-model="firstName" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="inputLastName">Last Name:</label>
    <div class="controls">
      <input type="text" required id="inputLastName" ng-model="lastName" />
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Sign up</button>
    </div>
  </div>
</font>