<span class="item">
  <span ng-show="mode!='delete'"><span ng-show="mode!='update'">
    <span><a ng-click="showDescription=!showDescription" href="">{{data.title}}</a></span>
    <span class="controls">
      <a href="" ng-click="mode='update';updatedItem.title=data.title;updatedItem.description=data.description" ng-show="mode!='update'">
        <i class="icon icon-edit"></i></a>
      <a href="" ng-click="mode='add'"><i class="icon-plus-sign"></i></a>
      <a href="" ng-click="mode='delete'"><i class="icon-minus-sign"></i></a>
    </span>
  </span></span>

  <span ng-show="mode=='delete'">
    <span>{{data.title}}</span>
    <button class="btn" ng-click="mode='view'" ng-show="mode=='delete'">Cancel</button>
    <button class="btn" ng-click="delete(data)" ng-show="mode=='delete'">Confirm Deletion</button>
  </span>

  <span ng-show="mode=='update'">
    <input type="text" id="updateTitle" required maxlength="30" ng-maxlength="30" ng-model="updatedItem.title" />
    Description: <input type="text" id="updateDescription" maxlength="50" ng-maxlength="50" ng-model="updatedItem.description" />
    <a href="" ng-click="mode='view';update(data,updatedItem);updatedItem.title='';updatedItem.description=''">
      <i class="icon-ok"></i></a>
    <a href="" ng-click="mode='view'"><i class="icon-remove"></i></a>
  </span>

</span>

<div ng-show="showDescription" class="info-small">{{data.description}}</div>

<ul>
  <li ng-repeat="data in data.children" ng-controller="PJS.Controllers.WorkBreakdown.treeInit" ng-include="'partials/workbreakdowntree.html'"></li>
  <li ng-show="mode=='add'">
    <input type="text" id="title" required maxlength="30" ng-maxlength="30" ng-model="newItem.title" />
    Description: <input type="text" id="description" maxlength="50" ng-maxlength="50" ng-model="newItem.description" />
    <a href="" ng-click="addChildren(data, newItem);newItem.description='';newItem.title='';mode='view'">
      <i class="icon-ok"></i></a>
    <a href="" ng-click="mode='view'"><i class="icon-remove"></i></a>
  </li>
</ul>