<div ng-include src="'partials/project-nav.html'"></div>

<div>
  <a class="btn" href="#/projects/{{project.id}}/add-work-item">
    Add Work Item
  </a>
  <table class="table table-condensed">
    <thead>
    <tr>
      <th></th>
      <th><a href="" ng-click="predicate = 'title'; reverse=!reverse">Title</a></th>
      <th><a href="" ng-click="predicate = 'status.text'; reverse=!reverse">Status</a></th>
      <th><a href="" ng-click="predicate = 'workPackages'; reverse=!reverse">Work Packages</a></th>
      <th><a href="" ng-click="predicate = 'assignedUsers'; reverse=!reverse">Assigned Users</a></th>
      <th><a href="" ng-click="predicate = 'dependencies'; reverse=!reverse">Dependencies</a></th>
      <th><a href="" ng-click="predicate = 'startDate'; reverse=!reverse">Start Date</a></th>
      <th><a href="" ng-click="predicate = 'timeEstimate'; reverse=!reverse">Time Estimate</a></th>
      <th><a href="" ng-click="predicate = 'timeSpent'; reverse=!reverse">Time Spent</a></th>
      <th><a href="" ng-click="predicate = 'completionPercentage'; reverse=!reverse">Completion Percentage</a></th>
      <th><a href="" ng-click="predicate = 'lastModifiedDate'; reverse=!reverse">Last Modified</a></th>
      <th><a href="" ng-click="predicate = 'lastModifiedBy'; reverse=!reverse">Last Modified By</a></th>
    </tr>
    <tr>
      <th>Filters</th>
      <td><input class="input-medium" ng-model="wkFilter.title"></input></td>
      <td><input class="input-small" ng-model="wkFilter.status.text"></input></td>
      <td><input class="input-small" ng-model="wkFilter.workPackages"></input></td>
      <td><input class="input-small" ng-model="wkFilter.assignedUsers"></input></td>
      <td><input class="input-small" ng-model="wkFilter.dependencies"></input></td>
      <td><input class="input-small" ng-model="wkFilter.startDate"></input></td>
      <td><input class="input-small" ng-model="wkFilter.timeEstimate"></input></td>
      <td><input class="input-small" ng-model="wkFilter.timeSpent"></input></td>
      <td><input class="input-small" ng-model="wkFilter.completionPercentage"></input></td>
      <td><input class="input-small" ng-model="wkFilter.lastModifiedDate"></input></td>
      <td><input class="input-small" ng-model="wkFilter.lastModifiedBy"></input></td>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="workItem in workItems | filter:wkFilter | orderBy:predicate:reverse">
      <td>
        <a href="#/projects/{{project.id}}/work-items/{{workItem.id}}/view">View</a>
        <a href="#/projects/{{project.id}}/work-items/{{workItem.id}}/edit">Edit</a>
      </td>
      <td>{{workItem.title}}</td>
      <td>{{workItem.status.text}}</td>
      <td>{{workItem.workPackages}}</td>
      <td>{{workItem.assignedUsers}}</td>
      <td>{{workItem.dependencies}}</td>
      <td>{{workItem.startDate | date:'yy/MM/dd'}}</td>
      <td>{{workItem.timeEstimate}}</td>
      <td>{{workItem.timeSpent}}</td>
      <td>{{workItem.completionPercentage}}</td>
      <td>{{workItem.lastModifiedDate | date:'yy/MM/dd'}}</td>
      <td>{{workItem.lastModifiedBy}}</td>
    </tr>
    </tbody>
  </table>

</div>