<div ng-include src="'partials/project-nav.html'"></div>

<table class="work-breakdown table table-condensed table-bordered">
  <tr>
    <td>
      <ul>
        <li ng-repeat="data in data.children" ng-controller="PJS.Controllers.WorkBreakdown.treeInit" ng-include="'partials/workbreakdowntree.html'"></li>
        <li>
          <a href="" ng-click="mode='add'" ng-show="mode!='add'"><i class="icon-plus-sign"></i></a>
          <a href="" ng-click="delete(data)" ng-show="data.items.length > 0"><i class="icon-minus-sign"></i></a>
          <span ng-show="mode=='add'">
            <input type="text" id="title" required maxlength="30" ng-maxlength="30" ng-model="newItem.title" />
            Description: <input type="text" id="description" maxlength="50" ng-maxlength="50" ng-model="newItem.description" />
            <a href="" ng-click="add(data, newItem);newItem.description='';newItem.title=''">
              <i class="icon-ok"></i></a>
            <a href="" ng-click="mode='view'" ng-show="mode=='add'"><i class="icon-remove"></i></a>
          </span>
        </li>
      </ul>
    </td>
  </tr>
</table>