{{data.name}}
  <button ng-click="mode='add'" ng-show="mode!='add'">+</button>
  <button ng-click="mode='view'" ng-show="mode=='add'">Stop</button>
  <button ng-click="delete(data)" ng-show="data.items.length > 0">-</button>
  <div ng-show="mode=='add'">
    <input type="text" id="description" ng-model="data.newItem.description" />
    <button ng-click="add(data);data.newItem.description=''">Save</button>
  </div>

<ul>
  <li ng-repeat="data in data.items" ng-controller="PJS.Controllers.WorkBreakdown.treeInit" ng-include="'partials/workbreakdowntree.html'"></li>
</ul>