<div ng-include src="'partials/project-nav.html'"></div>

<div class="content">
  <div class="span11 work-item well" id="{{workItem.id}}">
    <h4 class="title">{{workItem.title}} <a href="#/projects/{{project.id}}/work-items/{{workItem.id}}/edit"><i class="icon icon-edit"></i></a></h4>
    <p>{{workItem.description}}</p>
    <p><span class="label {{workItem.status.labelType}}">{{workItem.status.text}}</span></p>

    <h5>Overall Progress:</h5> <div class="progress"><div class="bar" style="width: {{workItem.completionPercentage}}%;"></div></div>

    <hr />

    <div class="info-small">
      <div class="assigned-users" ng-show="workItem.assignedUsers.length != 0">
        <span>Assigned: </span>
        <span ng-repeat="assignedUser in workItem.assignedUsers">
          <a class="btn btn-mini" href="#/users/{{assignedUser._id}}">{{assignedUser.firstName}} {{assignedUser.lastName}}</a>
        </span>
      </div>
      <hr />
      <div>Started on: {{workItem.startDate | date:'MMMM dd, yyyy'}}</div>
      <hr />
      <div ng-show="workItem.timeSpent != 0">Time spent: {{workItem.timeSpentStr}}<hr /></div>
      <div ng-show="workItem.timeEstimate != 0">Estimated time: {{workItem.timeEstimateStr}}<hr /></div>
    </div>

    <div ng-show="lastModifiedBy" class="info-small">
      Last modified {{lastModifiedDate | date:'MMMM dd, yyyy'}} by:
      <a href="#/users/{{lastModifiedBy.id}}">{{lastModifiedBy.firstName}} {{lastModifiedBy.lastName}}</a>
    </div>

    <div ng-show="workItem.workPackages.length != 0" class="span4 workPackages">
      <h5>Work Packages</h5>
      <div class="workPackage" id="{{workPackage.id}}" ng-repeat="workPackage in workItem.workPackages">
        <a href="#/projects/{{project.id}}/work-packages/{{workPackage.id}}">{{workPackage.title}}
        </a>
      </div>
    </div>

    <div ng-show="workItem.dependencies.length != 0" class="span4 dependencies">
      <h5>Dependencies</h5>
      <div class="dependencies" id="{{dependency.id}}" ng-repeat="dependency in workItem.dependencies">
        <a href="#/projects/{{project.id}}/work-items/{{dependency.id}}">{{dependency.title}}</a>
      </div>
    </div>

  </div>
</div>

<div class="span11" ng-include src="'partials/comments.html'"></div>