<div ng-include src="'partials/project-nav.html'"></div>

<div class="row">
  <div class="span11">
    <a class="btn" href="#/projects/{{project.id}}/add-workPackage">Add Work Package</a>
  </div>
</div>

<br />

<div class="row">
  <div class="well span11 workPackage" id="{{workPackage.id}}" ng-repeat="workPackage in workPackages">
    <h4><a href="#/projects/{{project.id}}/work-packages/{{workPackage.id}}">{{workPackage.title}}</a></h4>
    <p>{{workPackage.description}}</p>
    <p><span class="label {{workPackage.status.labelType}}">{{workPackage.status.text}}</span></p>
    <h5>Overall Progress:</h5> <div class="progress"><div class="bar" style="width: {{workPackage.completionPercentage}}%;"></div></div>

    <div class="span4 workItems">
      <h5>Work Items</h5>
      <div class="workItem" id="{{workItem.id}}" ng-repeat="workItem in workPackage.workItems">
        <a href="#/projects/{{project.id}}/work-items/{{workItem.id}}/view">{{workItem.title}}</a>
      </div>
    </div>

    <div class="span4 dependencies">
      <h5>Dependencies</h5>
      <div class="dependencies" id="{{dependency.id}}" ng-repeat="dependency in workPackage.dependencies">
        <a href="#/projects/{{project.id}}/work-packages/{{dependency.id}}">{{dependency.title}}</a>
      </div>
    </div>

  </div>
</div>