/* app css stylesheet */

.container {
  margin-top: 80px;
}

.navbar select {
  margin: 6px;
}

.info-small {
  font-size: 12px;
  margin-top: 7px;
  margin-bottom: 7px;
  margin: 7px 7px 7px 0px;
}

.progress {
  border: 1px solid #aaccaa;
  border-collapse: none;
}

.nav {
  margin-bottom: 0;
  margin-top: 5px;
}

.nav-tabs li {
}

.nav-tabs li a {
  padding: 5px;
}

.above-table {
  border-bottom: 0px;
  margin-left: 2px;
}

.above-well {
  margin-left: 22px;
  margin-bottom: 5px;
}

.sorting span {
  margin-right: 8px;
}